
.logo-container{
  height: 5em;
  .logo{
    overflow: hidden;
      height: 100%;
      background-image: url('../../../assets/opengraph-banco-de-occidente.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @media (min-width: 425px) {
        background-size: 50%;
      }
      @media (min-width: 900px) {
        background-size: cover;
      }
  }
}

.nav{
  border-bottom: 1px solid grey
}
.avatar{
  .bi::before {
    font-weight: bolder !important;
    font-size: 3.3em !important;
    color: #0088CA;
  }
  .status::before{
    font-size: .9em !important;
    vertical-align: middle;
    color: greenyellow;
  }
}






